#wrapper {
	display: flex;
	flex-direction: column;
}

#grid-container {
	align-self: center;
	height: 800px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(16, auto);
	border-top: solid black;
	border-left: solid black;
}

#grid-container > * {
  border-right: solid black;
	border-bottom: solid black;
}

.color {
  background-color: black;
}

.reset {
	align-self: center;
	width: 50px;
	margin: 20px;
}
